.testimonial {
  padding: 115px 0 100px 0;
}

.testimonial__title {
  color: #373737;
  text-align: center;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.463px;
  margin-bottom: 25px;
}

.testimonial__description {
  padding: 0 80px;
  color: #7d7d7d;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 140px;
}

.testimonial__box-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.testimonial__box {
  width: 500px;
  padding: 46px 34px;
}

.testimonial__box-content {
  display: flex;
  gap: 28px;
  align-items: center;
  margin-bottom: 30px;
}

.testimonial__box-title {
  color: #37474f;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.testimonial__box-position {
  color: #37474f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 4px;
}
.testimonial__box-text {
  color: rgba(55, 71, 79, 0.72);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
